
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #29293d;
 
}

.modal-content{
background-color:  #ffffff;
 width: 500px;
 height: 200px;
 margin-top: 170px; 
 position: absolute;
 margin-left: 400px;
 

}

.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}


#block-header{
    width: 500px;
    height: 30px;
    border: 1px solid black;
    background:#4c5256;
    color: #ffffff;
}

#txt-log{
margin-top: 5px;
font-size: 16px;

}

#block-auth{
    margin-left: 160px;
    position: relative;

}

#login{
    margin-top: 10px;
}

#password{

    margin-top: 10px;

}

#id-correct{
    color: #ff0000;
}

#button{
margin-top: 15px;
margin-left: 40px;
width: 100px;
height: 30px;
border-radius: 5px;
background: #49b785;
color: #ffffff;
border: none;
cursor: pointer;
}



#saveFormbtn{
    margin-top: 15px;
    margin-left: 60px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background: #49b785;
    color: #ffffff;
    border: none;
    cursor: pointer;
}